.item {
    width: 100%;

    display: flex;
    justify-content: flex-start;
}

.item:first-child {
    margin-top: 30px;
}

.item:last-child {
    margin-bottom: 30px;
}

.item .image-box {
    width: 180px;
    height: 180px;
    border: 1.8px solid #b6b6b6;
    
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 30px;
}

.item .image-box img {
    width: 100%;
    object-fit: cover;
}

.item .item-content h2 {
    width: 400px;
    margin-bottom: 10px;
}

.item .item-content .prices span {
    color: gray;
    font-size: 18px;
    font-weight: 500;
}

.item .item-content .prices p {
    font-size: 22px;
    font-weight: 700;
}